<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 28px">
      Confirm Position
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content
      id="mapId2"
      style="width: 340px; height: 460px; border: 1px solid green; opacity: 0.9"
    ></ion-card-content>
  </ion-card>
  <div>
    <ion-card>
    <img
    class = "anim"
      (click)="closeModal()"
      src="../../../assets/welcomeIcon/13.png"
    />
  </ion-card>
  </div>
</ion-content>
