<ion-header>
  <ion-toolbar>
    <ion-icon
      name="close"
      (click)="closeModal()"
      style="float: right"
    ></ion-icon>
    <ion-title>trip-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: grey">
    <ion-card
      id="mapId1"
      style="height: 200px; border: 2px solid orangered"
    ></ion-card>
    <ion-card-title style="text-align: center">Nearest stops</ion-card-title>

    <ion-card *ngFor="let item of info">
      <ion-item>
        <ion-label><strong>{{item.stop_name}}</strong></ion-label>
        <ion-chip style="margin-left: 10px">
          <ion-icon name="walk-sharp"></ion-icon> :
          <ion-badge color="danger">{{item.diff}}</ion-badge>
        </ion-chip>
      </ion-item>
      <ion-avatar slot="start">
        <ion-icon
          (click)="checkTime(item.stop_id)"
          name="flag-sharp"
          size="50px"
          style="border: 3px solid black; border-radius: 8px"
        ></ion-icon>
      </ion-avatar>
    </ion-card>
    <div>
      <h2><strong>{{this._http.userDes.stop_name}}</strong></h2>
      <ion-badge (click)="recheckPos()" color="danger" class="ionic-text-center"
        >re-check position</ion-badge
      >
    </div>
  </ion-card>
</ion-content>
