<ion-header>
  <ion-toolbar>
    <ion-icon
      name="close"
      (click)="closeModal()"
      style="float: right"
    ></ion-icon>
    <ion-title>trip-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: orangered">
    <ion-card
      id="mapId1"
      style="height: 200px; border: 1px solid greenyellow"
    ></ion-card>
    <ion-card-title style="text-align: center">Nearest stops</ion-card-title>

    <ion-card *ngFor="let item of info">
      <ion-item>
        <h2>{{item.stop_name}}</h2>
      </ion-item>
      <ion-item>
        <span item-start>{{item.diff}}</span>
        <button
          style="float: right"
          ion-button
          icon-start
          clear
          item-end
          (click)="checkTime(item.stop_id)"
        >
          <!-- <ion-icon name="notifications"></ion-icon> -->
          check time
        </button>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
