<ion-header>
  <ion-toolbar>
    <ion-icon
      name="close"
      (click)="closeModal()"
      style="float: right"
    ></ion-icon>
    <ion-title>trip-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: grey">
    <ion-card
      id="mapId1"
      style="height: 200px; border: 2px solid orangered"
    ></ion-card>
    <ion-card-title style="text-align: center">Nearest stops</ion-card-title>

    <ion-card *ngFor="let item of info">
      <ion-item>
        <ion-label><strong>{{item.stop_name}}</strong></ion-label>
        <p><ion-icon name="walk-sharp"></ion-icon> : {{item.diff}}</p>
        <ion-avatar slot="start">
          <ion-icon
            (click)="checkTime(item.stop_id)"
            name="flag-sharp"
            size="50px"
            style="border: 3px solid black; border-radius: 8px"
          ></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
