#pop {
  float: top;
}
ion-badge {
  background-color: grey;
  margin: 40px;
}
.rightCard {
  width: 60px;
  height: 90px;
  background: url(../../../assets/busIcon8.png);
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center top;
}

.infoCard {
  width: 200px;
  height: auto;
}

.chip {
  float: left;
  text-align: start;
  font-size: 12px;
  height: auto;
  width: auto;
  margin-top: 5%;
}

.chip1 {
  font-size: 16px;
  width: auto;
  height: 10%;
}

.backgroundCard {
  background-color: WhiteSmoke;
}
