<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 28px">
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card>
      <h3 class="ion-text-center">Map Style</h3>

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card id="slide1" class="mapCard"
            ><ion-button shape="round" size="small" (click)="selectStyle(0)"
              >Choose</ion-button
            ></ion-card
          >
        </ion-slide>
        <ion-slide>
          <ion-card id="slide2" class="mapCard"
            ><ion-button shape="round" size="small" (click)="selectStyle(1)"
              >Choose</ion-button
            ></ion-card
          >
        </ion-slide>
        <ion-slide>
          <ion-card id="slide3" class="mapCard ion-text-center"
            ><ion-button shape="round" size="small" (click)="selectStyle(2)"
              >Choose</ion-button
            ></ion-card
          >
        </ion-slide>
      </ion-slides>
    </ion-card>

    <ion-card>
      <h3 class="ion-text-center">Notification Time</h3>
      <ion-label>alert me before</ion-label>
      <ion-select
        value="{{time}}"
        size="small"
        #select
        okText="Okay"
        (ionChange)="alertTime(select.value)"
        cancelText="Dismiss"
      >
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
      </ion-select>
    </ion-card>
  </ion-card>
</ion-content>
