<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: 28px">
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3 class="ion-text-center">Map Style</h3>

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card id="slide1" class="mapCard"
          ><ion-button
            #button1
            shape="round"
            size="small"
            (click)="selectStyle(0)"
            >Choose</ion-button
          ></ion-card
        >
      </ion-slide>
      <ion-slide>
        <ion-card id="slide2" class="mapCard"
          ><ion-button
            #button2
            shape="round"
            size="small"
            (click)="selectStyle(1)"
            >Choose</ion-button
          ></ion-card
        >
      </ion-slide>
      <ion-slide>
        <ion-card id="slide3" class="mapCard"
          ><ion-button
            #button2
            shape="round"
            size="small"
            (click)="selectStyle(2)"
            >Choose</ion-button
          ></ion-card
        >
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
