.mapCard {
  height: 180px;
  width: 250px;
  margin-left: 3%;
}

ion-button{
  margin-top: 55%;
  opacity: 0.7;
}

#slide1 {
  background-image: url(../../assets/maps/1.png);
  background-size: 100%;
}

#slide2 {
  background-image: url(../../assets/maps/3.png);
  background-size: 100%;
}

#slide3 {
  background-image: url(../../assets/maps/2.png);
  background-size: 100%;
}
