<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Search Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: orangered">
  <ion-card
    style="
      height: 55px;
      border: 1px solid green;
      box-shadow: 4px 4px;
      opacity: 0.85;
    "
  >
    <h2><strong>detail :</strong></h2>
    <h2 id="detail">{{detail}}</h2>
  </ion-card>
  <ion-card style="border: 1px solid green; box-shadow: 4px 4px; opacity: 0.85">
    <div id="mapId3" style="height: 380px"></div>
  </ion-card>

  <ion-card>
    <ion-searchbar
      #searchVal
      (ionChange)="search(searchVal.value)"
    ></ion-searchbar>
  </ion-card>
</ion-content>
