<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Search Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: orangered">
  <ion-card style="border: 4px solid black">
    <ion-card style="box-shadow: 4px 4px; opacity: 0.85; height: 420px">
      <div id="mapId3" style="height: 420px"></div>
    </ion-card>

    <ion-card style= "background-color: bisque;">
      <ion-searchbar
        #searchVal
        (ionChange)="search(searchVal.value)"
      ></ion-searchbar>
    </ion-card>
  </ion-card>
</ion-content>
