<ion-card style="background-color: grey; margin: 5px; float: top">
  <ion-card-title style="text-align: center">
    <h2>trip detail</h2>
  </ion-card-title>

  <ion-card-content *ngFor="let el of data">
    <ion-card style="border: 2px solid orangered">
      <ion-item>
        <h3>
          trip : <strong>{{ el.trip_headsign }}</strong>
        </h3>
      </ion-item>
      <ion-item>
        <span *ngIf="el.direction == 1; else cndFalse">Direction : aller </span>
        <ng-template #cndFalse>Direction : retour </ng-template>
      </ion-item>
      <ion-item>
        <h3>
          arrival time : <strong>{{ el.arrival_time }}</strong>
        </h3>
      </ion-item>

      <div style="text-align: center">
        <h3 style="text-align: center">
          <ion-icon
            #icon
            name="notifications-off"
            size="16px"
            (click)="lclNotification(icon)"
          ></ion-icon>
        </h3>
      </div>

      <!-- <ion-item>
        <ion-button (click)="showAll(el.shape_id)"> show all trip </ion-button>
      </ion-item> -->
    </ion-card>
  </ion-card-content>
</ion-card>
