<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Quick Access </ion-title>
  </ion-toolbar>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item
        style="margin: 30px; margin-top: 10px"
        *ngFor="let item of data"
      >
        <ion-label>
          <h2>
            <strong>{{item}}</strong>
          </h2>
        </ion-label>
        <ion-badge
          style="margin-right: 10px; background-color: white; color: orangered"
          (click)="access(item)"
          >info</ion-badge
        >
      </ion-item>
    </ion-list>
  </div>
</ion-content>
