

<ion-content>
  <ion-card
    style="
      text-align: center;
      background-color: white;
      border: 5px solid bisque;
    "
  >
    <ion-badge
      style="
        padding: 25px;
        margin: 40px;
        background-color: bisque;
        border-radius: 8px;
      "
      ><ion-label>KAIROUAN TRANSPORT</ion-label></ion-badge
    >
    <br />
    <ion-badge
      style="
        padding: 20px;
        margin: 40px;
        background-color: bisque;
        border-radius: 8px;
      "
      ><ion-label>FIND YOUR DESTIANATION</ion-label></ion-badge
    >
    <br />
    <ion-badge
      style="
        padding: 15px;
        margin: 40px;
        background-color: bisque;
        border-radius: 8px;
      "
      ><ion-label>ACTIVE NOTIFICATION</ion-label></ion-badge
    >
  </ion-card>
</ion-content>
<ion-footer>
  <ion-card style="text-align: center; background-color: black">
    <ion-button (click)="getStarted()">GET STARTED</ion-button>
  </ion-card>
</ion-footer>
