<!-- <ion-content> -->
<h2 class="text ion-text-center" id="id1"></h2>
<div class="container ion-text-center animation-target">
  <img src="{{pic}}" />
</div>

<ion-fab-button
  color="danger"
  size="150px"
  class="fab animation-targett"
  (click)="getStarted()"
  >START</ion-fab-button
>
<!-- </ion-content> -->
<ion-footer
  class="ion-text-center"
  style="color: black; font-size: 8px; opacity: 0.7"
>
  <p>
    <a target="_blank" href="https://icons8.com/icons/set/pawn">兵 icon</a> icon
    by <a target="_blank" href="https://icons8.com">Icons8</a>
  </p>
</ion-footer>
